<head>
  <meta charset="UTF-8">
  <title>Donut Forget To Review</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="../../public/css/style.css"> --}}
</head>

<body>
<nav class="navbar navbar-light" style="background-color: #11547a;">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Welcome.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        {{#if loggedIn}}
    <a id="logout">Logout</a>
    {{else}}
    <a class="nav-link" href="/login">Login</a>
    {{/if}}
      </li>
    </ul>
  </div>
</nav>

</nav> 

        {{{ body }}}
 
  </div>

  {{!-- need jS here, link js scripts --}}
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
{{else}}
<script src="/js/login.js"></script> 
  {{/if}}

  </body>

</html>
