<head>
  <meta charset="UTF-8">
  <title>Donut Forget To Review</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
This is the main handlebars
if logged out displaying nothing, if logged in display nav link bar, footer could contain add post

        {{{ body }}}
 
  </div>

  </body>

</html>
