<div class="container">
<div class="row">
   <div class="col-md-4">
      <!-- START widget-->
      <div class="panel widget">
         <div class="half-float">
            <img src="" alt="" class="img-responsive">
            <div class="half-float-bottom">
               <img src="https://ca.slack-edge.com/T029Z4XNA1Z-U02B6CKQTQE-3eac726facdd-512" alt="Image" class="img-thumbnail img-circle thumb128">
            </div>
         </div>
         <div class="panel-body text-center">
            <h3 class="m0">Florencia </h3>
            <p class="text-muted">Favorite Donut: Plain Glaze from Krispy Kreme</p>
         </div>
         <div class="panel-body text-center bg-gray-dark">
           
         </div>
      </div>
      <!-- END widget-->
   </div>
   <div class="col-md-4">
      <!-- START widget-->
      <div class="panel widget">
         <div class="half-float">
            <img src="" alt="" class="img-responsive">
            <div class="half-float-bottom">
               <img src="https://ca.slack-edge.com/T029Z4XNA1Z-U02AQK32LKX-5c4a94a248f3-512" alt="Image" class="img-thumbnail img-circle thumb128">
            </div>
         </div>
         <div class="panel-body text-center">
            <h3 class="m0">Laurel </h3>
            <p class="text-muted">Favorite Donut: ODB from Voodoo Donuts</p>
         </div>
         <div class="panel-body text-center bg-gray-dark">
           
         </div>
      </div>
      <!-- END widget-->
   </div>   <div class="col-md-4">
      <!-- START widget-->
      <div class="panel widget">
         <div class="half-float">
            <img src="" alt="" class="img-responsive">
            <div class="half-float-bottom">
               <img src="https://ca.slack-edge.com/T029Z4XNA1Z-U02AP7RGZT4-ba573db42a1e-512" alt="Image" class="img-thumbnail img-circle thumb128">
            </div>
         </div>
         <div class="panel-body text-center">
            <h3 class="m0">Mariana</h3>
            <p class="text-muted">Favorite Donut: Voodoo Doll from Voodoo Donuts</p>

         </div>
         <div class="panel-body text-center bg-gray-dark">
           
         </div>
      </div>
      <!-- END widget-->
   </div>
      <!-- END widget-->
   </div>
</div>
</div>