
{{!-- This page is the first displayed when the user enters our site, it contains sample card to the left with changing pictures and the login card to the right, we can provide a link for user to sign up that takes them else where --}}

This is the all handlebars - he is the very first thing the user is going to see

<div class="container" id="bground">
  <div class="card-columns d-flex justify-content-center my-auto mx-auto" id= "secondbground">
    <div class="card" id="thirdbground">
      <div class="card-block" id="fourthbground">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a longer card with shorter text.</p>
      </div>
    </div>
  </div>
</div>


  <div class="row d-flex justify-content-center">
  <div class="col-sm-5 mt-5">
    <div class="card">
      <div class="card-body">
          <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-info" type="submit">Login</button>
      </div>
    </form>
  </div>
      </div>
    </div>
  </div>
  <div class="col-sm-5 mt-5">
    <div class="card">
      <div class="card-body">
  <div class="login-card">
    <h2 class="page-title">Sign-up</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-info" type="submit">Sign-up</button>
      </div>
    </form>
  </div>
      </div>
    </div>
  </div>
</div>


<script src="/js/login.js"></script>

