<div class="row h-100 login-bg">
   <div class="col-sm-12 my-auto">
      <div class="row d-flex justify-content-center">
  <div class="col-sm-3 mt-3">
    <div class="card">
      <div class="card-body">

  <center>

      <div class="slideshow-container">
<div class="mySlides fade smaller-img">
  <img src="https://m.media-amazon.com/images/I/71HI72z65BL._AC_SL1500_.jpg" style="width:100%" alt="Donut with white icing and multi-colored sprinkles">
</div>

<div class="mySlides fade smaller-img">
  <img src="https://cdn.pixabay.com/photo/2021/08/28/19/49/donut-6581822_960_720.png" style="width:100%" alt="Donut with chocolate icing">
</div>

<div class="mySlides fade smaller-img">
  <img src="https://static01.nyt.com/images/2014/12/14/magazine/14eat1/14mag-14eat.t_CA0-articleLarge.jpg" style="width:100%" alt="Three donuts tacked on top of each other">
</div>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

</div>

  <div class="card-body m-0 p-0">
    <hr>
    <h5 class="card-title title-font">BEST DONUT EVER</h5>
    <p class="card-text post-main-font">Author: donutlover</p>
    
    <span>游꼴游꼴游꼴游꼴游꼴</span>

    <p class="post-main-font">Rating: 5/5</p>
  </div>
  </center>


      </div>
    </div>
  </div>
  
  <div class="col-sm-3 mt-3">
    <div class="card">
      <div class="card-body text-center">


  <div class="login-card">
    <h2 class="page-title welcome-font">Welc游꼴me</h2>
    <form class="form login-form">
      <div class="form-group">
        {{!-- <label for="username-login">Username:</label> --}}
        <input class="form-input" type="text" id="username-login"  onkeyup="checkForm()" placeholder="Username"/>
      </div>
      <div class="form-group">
        {{!-- <label for="password-login">Password:</label> --}}
        <input class="form-input" type="password" id="password-login"  onkeyup="checkForm()"placeholder="Password" />
      </div>
      <div class="form-group">
        <button class="btn btn-info btn-block" type="submit" id="submit-btn"  >Log In</button>
      </div>
    </form>
  </div>

       Don't have an account? <a href="/signUp">Sign up</a>


      </div>
    </div>
  </div>
</div>

   </div>
</div>

<script src="/js/login.js"></script>
  <script src="/js/slideshow.js"></script>
