{{!-- This page is the first displayed when the user enters our site, it contains sample card to the left with changing pictures and the login card to the right, we can provide a link for user to sign up that takes them else where --}}

{{!-- Vertical Center Using Auto Margins --}}

<div class="row h-100">
   <div class="col-sm-12 my-auto">
      <div class="row d-flex justify-content-center">
        
  <div class="col-sm-3 mt-3">
    <div class="card">
      <div class="card-body">


      Sample site img slideshow will go here (commented out to keep laurel from going batty)
      {{!-- <div class="slideshow-container">
<div class="mySlides fade">
  <img src="https://m.media-amazon.com/images/I/71HI72z65BL._AC_SL1500_.jpg" style="width:100%" alt="Donut with white icing and multi-colored sprinkles">
</div>

<div class="mySlides fade">
  <img src="https://open.imagebank.lantmannen.com/Lantmannen%20Unibake/pimimage/62762.jpg" style="width:100%" alt="Donut with pink icing and white sprinkles">
</div>

<div class="mySlides fade">
  <img src="https://static01.nyt.com/images/2014/12/14/magazine/14eat1/14mag-14eat.t_CA0-articleLarge.jpg" style="width:100%" alt="Three donuts tacked on top of each other">
</div>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

</div> --}}


      </div>
    </div>
  </div>
  
  <div class="col-sm-3 mt-3">
    <div class="card">
      <div class="card-body text-center">
  <div class="login-card">
    <h2 class="page-title welcome-font">J🍩in Us</h2>

    <form class="form signup-form">
      
      <div class="form-group">
        <label for="username-signup"></label>
        <input class="form-input" type="text" id="username-signup" placeholder="Username" />
      </div>
      
      <div class="form-group">
        <label for="password-signup"></label>
        <input class="form-input" type="password" id="password-signup" placeholder="Password" />
      </div>
      
      <div class="form-group">
        <button class="btn btn-info btn-block" type="submit">Sign up</button>
      </div>
    </form>

  </div>
          Already have an account? <a href="/">Log In</a>

      </div>
    </div>
  </div>
</div>

   </div>
</div>




{{!-- loggin and loggot card --}}


<script src="/js/signup.js"></script>
  <script src="/js/slideshow.js"></script>
