<form id="selectFile">
    <input accept="image/*" type='file' id="imgUpload" />
    <img id="imgPreview" src="*" alt="Your Image" />
    <button id="submit">Submit</button>
</form>
<script src="/js/script.js">
</script>