body {
    background-color: rosybrown;
}

#bground {
    background-color: red;
}
#secondbground {
    background-color: orange;
}
#thirdbground {
    background-color: blue;
}
#fourthbground {
    background-color: purple;
}