
html, body {
    height: 100%;
    background-color: rosybrown;
}

.row h-100 {
    height: 100%;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

#bground {
    background-color: red;
}
#secondbground {
    background-color: orange;
}
#thirdbground {
    background-color: blue;
}
#fourthbground {
    background-color: purple;
}